* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  background-image: linear-gradient(to right, rgb(138, 138, 253), #beebe1); 
  display: flex; 
  flex-wrap: wrap;
   /* more info about flex: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
   /* wrap moves stuff to the next line if it does not fit */
  /* justify-content: space-evenly;     - deleted this, otherwise objects 'center', and not 'fit' with each other */
  
}

  /* position: fixed; */
  /* fixed position keeps your item in the same place on the screen, even when scrolling the page! */
  
  /* z-index: 1; */
  /* z index is used to displace elements on the z-axis. in or out of screen 
  it is used to define the order of elements if they overlap on each other. 
  'which element appears on top. if z-index 999, the 1000 would appear on top. 
  I think in the youtube video, they used this to add text on top of the video - I don't need it */
  /* z-index can help position items on the page - as long as they are in the
  absolute position, rather than static. Potentially, can use this instead of div's. */

  /* transform: translate(-50%, -50%);   THIS was used in the initial video */
  /* transform functions explained: https://www.youtube.com/watch?v=rzD-cPhq02E
    transform functions:
    - rotate function (can be simple, 3d, x, y or z axis - 
    in () can add degrees (90deg), turns(0.25turn) -> this would be 90 degrees, etc. 
    on x axis - top is getting further, bottom is getting closer. it is rotating away from us. 
    on y axis - the item rotates from left to right, so gets 'skinnier'. 
    - scale. allows us to make an object smaller or larger. 
    - translate function. allows to move the object up/down, left/right, back/forth (for z). 
    when you add 1 value to translate, it is exactly as translateX. 
    first value is X, second Y. 
    100% - moves the item by it's width. 
    when adding -50%, moves half of the width to the left (or up). 
    helps with centering. 
    - skew. used to stretch out the shape. by degrees. 


  */


/* body main {
  width: 100vw;
} */

.profile {
  background-color: white;
  border: 1px solid lightgray;
  display: inline-block;
  /* max-width: 30vw; */
  border-radius: 15px;
  min-height: 95vh;
  margin-top: 1vw;
  box-shadow: 5px 10px 18px black;
  transition: 0.15s ease-in-out;
  padding: 10px 0px;
}

.profile:hover {
  transform: scale(1.02);
  box-shadow: 5px 10px 18px rgb(47, 0, 255);

}



/* .profile img {
width: 490px; 
margin: 3px;
align-items: center;
} */

#name {
   font-size: 20px;
  font-weight: bold;
  
}

span {
  margin-top: 1vw;
  margin-left: 1vw;
  margin-bottom: 1vw;
}

#location {
  font-size: 18px;
}

.ProfileDetails {
margin: 1vw;
}

.ProfileDetails #Youtube {
border-radius: 50%;
padding: 5px;
transition: 0.15s ease-in-out;
color: red;
font-size: 1.5rem;
}

#Youtube:hover {
  box-shadow: 5px 10px 18px #888888;
}

i {
  margin-left: 1vw;
  /* this is the location icon from the web */
}

.icons {
/* font-size: 1.5rem; */
float: left;
margin-top: 5px;
}

.icons #x{
  margin-right: 20px;
  border-radius: 50%;
  padding: 10px;
  transition: 0.15s ease-in-out;
  color: red;
  /* below border and background removes standard <button> border */
  border: none;
  background: none;
}

.icons #superlike{
  margin-right: 20px;
  border-radius: 50%;
  padding: 10px;
  transition: 0.15s ease-in-out;
  color: rgb(50, 137, 163);
  /* below border and background removes standard <button> border */
  border: none;
  background: none;
}


.icons #heart{
  margin-right: 20px;
  border-radius: 50%;
  padding: 10px;
  transition: 0.15s ease-in-out;
  color: green;
  /* below border and background removes standard <button> border */
  border: none;
  background: none;
}

#x:hover {
  box-shadow: 5px 10px 18px #888888;
  color: gray;
  cursor: pointer;
}

#superlike:hover {
  box-shadow: 5px 10px 18px #888888;
  color: rgb(67, 209, 252);
  cursor: pointer;
}

#heart:hover {
  box-shadow: 5px 10px 18px #888888;
  color: rgb(21, 243, 21);
  cursor: pointer;
}

.hovert {
  display: flex; 
  /* need to add above flex or it does not work!  */
  /* more info about flex: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  height: 5vh; 
  width: 40vw; 
}

#hovertext {
  height: 5vh; 
  width: 40vw; 
  padding: 5px;
  font-size: 16px;
  margin-left: 3%;
  text-align: left;
  color: red;
  }


#calculation {
  height: 5vh;
  width: 4.5vw;
  font-size: 14px; 
  float: right;
  color: rgb(100, 100, 177);
}

    
/* below is from YouTube #Onclick Image Preview _ Simple Image Slider using Javascript _ 2021 tutorial. */
.img-preview {
 width: 94%;
  margin: 1vw; 
  align-items: center;
}

.images {
  transform: translateY(-150%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 2vw;
  margin: 5px;
  opacity: 0.6;
  cursor: pointer;
  border: 4px solid white;
  transition: all 0.25s ease-in-out;
}

.img:hover {
  width: 3vw;
  opacity: 1;
}

.thetext {
    transform: translateY(-2%);
}


/* body nav {
  
  /* cursor: url('../Photo/cursor.png'), auto;	 */

    /* need to use two . to link to my folder */
    /* used online pic converter jpg to png transparent */
    /* then used some png resizer to make it tiny (didn't work without!) 
  } */

#BtnUp {

  position: fixed; 
  /* above means it 'floats' above all other content */
  right: 10px;
  bottom: 10px;
  color:white; 
  font-size: 2rem;
  /* use rem to resize font-awesome!  */
}

#BtnUp:active {
  color:rgb(75, 75, 230); 
}


.container{
position: relative;
width: 28vw; 

/* overflow: hidden;  */
/* overflow hidden - hides any items that are flexed (display:flex) and move out of the added size */
}

/* Hide the images by default */
.mySlides {
  display: none;
  /* display: flex;  */
  /* display flex put all images next to each other, so from left to right, all in one line
   - would work great for a carousel */
   /* position: relative; */
}


/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* 3 columns side by side */
.column {
  float: left;
  width: 33.33%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


@media screen and (min-width:1001px){

  .profile {
    max-width: 30vw;
    margin-left: 33vw;
 }

 #calculation {
  margin-right: 5vw;
}

.img {
  width: 2vw;
  margin: 5px;
}

#video1,
#video2,
#video3 {
  width: 28vw;
}

}


@media screen and (min-width:735px) and (max-width:1000px){

  .profile {
    max-width: 40vw;
    margin-left: 30vw;
 }
 #calculation {
  margin-right: 5.5vw;
}

.img {
  width: 3vw;
  margin: 3px;
}

#video1,
#video2,
#video3 {
  width: 38vw;
}

}

@media screen and (min-width:551px) and (max-width:734px) {

  .profile {
    max-width: 60vw;
    margin-left: 20vw;
 }
 #calculation {
  margin-right: 15vw;
}

.img {
  width: 4vw;
  margin: 3px;
}

#video1,
#video2,
#video3 {
  width: 58vw;
}

}

@media screen and (min-width:361px) and (max-width:550px) {

  .profile {
    max-width: 80vw;
    margin-left: 10vw;
 }

 #BtnUp {
  visibility: hidden;
}

#calculation {
  margin-right: 17vw;
}
.img {
  width: 6vw;
  margin: 3px;
}

#video1,
#video2,
#video3 {
  width: 78vw;
}
}


@media screen and (min-width:250px) and (max-width:360px) {

  .profile {
    max-width: 80vw;
    margin-left: 10vw;
 }

 #BtnUp {
  visibility: hidden;
}

#calculation {
  width: 100%;
  margin-bottom: 15%;
}
.img {
  width: 6vw;
  margin: 3px;
}

#video1,
#video2,
#video3 {
  width: 78vw;
}
}
